{% extends "project.html" %}
{% set title = "Bolinas HRDWR Poster" %}
{% set tags = "Print" %}
{% set year = "2023" %}
{% set hero = "front_Bolinas+HRDWR+Poster_Bolinas+HRDWR+Poster_2023_01.jpg" %}

{% block description %}
<p>
Poster for a night of music at the Bolinas Hardware Store, August 2023. The design went through a process of digital and analog manipulation before being printed on Kraft paper and pinned up around town. It was also featured on the cover of the Bolinas Hersay News that week in collaboration with Oliver Whitcroft.
</p>


{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}

