{% extends "project.html" %}
{% set title = "Regular Beach" %}
{% set tags = "Print" %}
{% set year = "2024" %}
{% set hero = "front_EWEB+&+Every+Thing+Live_EWEB+&+Every+Thing+Live+Poster.jpg" %}

{% block description %}
<p>
  This project started as a idea for a typeface I was sketching while traveling. The letters were then carved from linoluem, often changed from the original sketch on the go and sometimes recarved more than once. I was experimenting with letterpress printing and t-shirts and decided to start a project to combine all of my different art and design interests into one effort with Regular Beach fronting as a sort of collective/media library. Website coming soon.
</p>


{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}