{% extends "project.html" %}
{% set title = "ZMDF Identity" %}
{% set tags = "Print" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', filename='styles/work.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='styles/project.css') }}" rel="stylesheet" />

{% endblock %}


{% block description %}
<p>
  Identity System for Zac Mosher Design & Fabrication (ZMDF) and website CV. Web catalogue coming soon.
</p>


{% endblock %}

{% block main %}
{{ super() }}
{% endblock %}