{%extends "base.html"%}

{%set active_page = "work.html"%}
{% block head %}
{{ super() }}
{% endblock %}

{% block main %}

    <body>

        <p1>insert animation or some graphic or design this better</p1>

        <p1>You have reached the digital home for the graphic design practice of Ren Conger. I’m a inter-planetary designer and artist working in San Francisco. The mission of RC Lab is to create conceptually driven design systems for visual communication, and one-off works for events or special occasions.</p1>

        <p1>I find myself influenced by the arts community here in the Bay Area and I like making work that explores the overlap between digital and physical. I studied graphic design at Cal Poly in San Luis Obispo and have since been working towards developing my practice, learning, and collaborating. Hit me up if you would like to talk about a project or idea.</p1>
 </body>

<h2>renconger@gmail.com</h2>

{% endblock %}