{% extends "base.html" %}
{% set base_url = "/projects/" + project + "/" %}
{% set active_page = "work" %}

{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='styles/project.css') }}" rel="stylesheet" />
{% endblock %}

{% include 'home.html' %}

{% block main %}

<div class="project-title">{{ title or "Untitled" }}</div>
<div class="details">
  <div class="project-meta">
    <span class="project-type">{{ type }}</span>
  </div>
  <div class="project-meta">
    <span class="project-year">{{ year }}</span>
  </div>
  <div class="project-description">
    {{ description | safe }}
  </div>

  {% if url %}
    <a href="{{ url }}" target="_blank" class="link">website</a>
  {% endif %}
</div>



<div class="grid-wrapper">
  <div class="grid">
    {% for path in work_list | shuffle %}
      {% set filename = path.split('/')[-1] %}
      {% if ".DS_Store" not in path %}
        <div class="grid-item {% if 'hero_' in filename %}hero{% endif %}">
          <img src="{{ url_for('static', filename=path.replace('static/', '', 1)) }}" alt=""/>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  document.querySelectorAll('.grid-item').forEach(item => {
    item.addEventListener('click', function() {
      this.classList.toggle('expanded');
    });
  });
</script>

<script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@16.1.3/dist/smooth-scroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script>
  var scroll = new SmoothScroll('a[href*="#"]', {
    speed: 100,
    easing: 'easeOutCubic'
  });

  var grid = document.querySelector('.grid');
  var pckry = new Packery(grid, {
    itemSelector: '.grid-item',
    percentPosition: true
  });

  imagesLoaded(grid).on('progress', function () {
    pckry.layout();
  });

  const lightbox = GLightbox({
    loop: true,
    autoplayVideos: true
  });


  //aspect adjust
  document.addEventListener("DOMContentLoaded", () => {
  const gridItems = document.querySelectorAll(".grid-item");

  gridItems.forEach(item => {
    const img = item.querySelector("img");

    // Wait for image to load to get accurate dimensions
    if (img.complete) {
      adjustAspect(item, img);
    } else {
      img.onload = () => adjustAspect(item, img);
    }
  });

  function adjustAspect(item, img) {
    const isTall = img.naturalHeight > img.naturalWidth;
    if (isTall) {
      item.classList.add("tall");
    }
  }
});
</script>
{% endblock %}
