.carousel {
  width: 100%;
  margin-bottom: 20px;
}

.carousel-cell {
  width: 100%; /* Adjust as needed */
  height: auto; /* Ensures images maintain aspect ratio */
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.carousel-cell img {
  display: block;
  width: 100%;
  height: auto;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  font-size: 14px;
}

.process .caption {
  display: block;
}
