
header {
    position: fixed;
    left: 0;
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 25px;
    color: rgb(0, 0, 0); 
    transition: all 0.3s ease;
    padding-top: 25px;
}

header > * {
    margin-bottom: 25px;
}

h1 {
    font-family: "input-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    color: black;
    margin: 0; /* Remove default margin */
}

h6 {
    font-family: "input-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    color: black;
    padding-bottom: 25px;
  }

.index-link, .project-link, h2, h3 {
    text-align: left; /* Left-align text */
    font-size: 14px; /* Adjust font size if needed */
    display: block;
}

.index-link, .project-link {
    padding-bottom: 0; /* Remove bottom padding */
    padding-top: 0; /* Remove top padding */
}



@media (max-width: 640px) {
header {
    width: 100%; /* Full width */
    padding-left: 0;
    overflow: hidden;
    position: static; /* Reset fixed positioning */
}

header > * {
    margin-bottom: 15px; /* Adjust margin for smaller screens */
}

h1 {
    margin-bottom: 20px; /* Space between h1 and body content */
}}


/* Existing CSS rules */

a {
text-decoration: underline;
color: black;
}

a:hover {
text-decoration: none;
color: rgb(162, 162, 162);
}

a:active {
color: rgb(162, 162, 162);
}

ul {
font-family: "input-mono", monospace;
font-weight: 500;
font-style: normal;
font-size: 14px;
}

.index-link {
font-size: 14px;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
padding-bottom: 10px;
}

h1 {
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
font-size: 23px;
color: black;
}

h2 {
font-size: 14px;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
}

h3 {
font-size: 12.5px;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: italic;
}

h4 {
font-size: 12.5px;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
padding-top: 0;
}

.project-link {
font-size: 12.5px;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
padding-bottom: 10px;
padding-top: 10px;
}

nav {
font-size: 14px;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
float: left;
}