
/* Container for flexboxes */
.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10vh;
    padding-top: 31vh;

  }
  
 /* Create four equal columns */
.column {
    flex: 1 1 25%; /* Adjust to allow flexible width */
    padding-right: 10vw;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.short-description {
    display: inline;
}
.long-description {
    display: none;
}
    

/* On screens that are 960px wide or less, stack columns in a single row */
@media screen and (max-width: 640px) {
    .row{
        padding-bottom: 2vh;
        padding-top: 2vh;
    }
    
    .column {

        flex: 1 1 100%; /* Two columns per row */
    }
    .short-description {
        display: inline; /* Show the short description (About) */
    }
    
    .long-description {
        display: none; /* Hide the long description */
    }
    
    #block {
        display: none; /* Ensure the detailed block is hidden */
    }
    #block3 {
        display: block; /* Show the detailed block for "about" */
    }
    
    #block {
        display: none; /* Ensure the detailed block is hidden */
    }
}

@media screen and (min-width: 641px) {
    .short-description {
        display: none; /* Hide the short description */
    }

    .long-description {
        display: inline; /* Show the long description */
    }
}


.index-link, .project-link, h2, h3 {
    text-align: bottom;
}

.index-link, .project-link {
    padding-bottom: 0; /* Remove bottom padding */
    padding-top: 0; /* Remove top padding */
}

/* Existing CSS rules */

a {
text-decoration: underline;
color: black;
}

.home {
    color: rgb(216, 135, 172);
}

a:hover {
text-decoration: none;
color: rgb(162, 162, 162);
}

a:active {
color: rgb(162, 162, 162);
}

.index-link {
font-size: 1em;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
padding-bottom: 10px;
}

h1 {
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
font-size: 1.5em;
color: black;
}

h2 {
font-size: 1em;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
min-width: 75%;
}

h3 {
font-size: 1em;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: italic;
}

h4 {
font-size: 1em;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
padding-top: 0;
}

h6 {
    font-family: "input-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: black;
    padding-bottom: 25px;
  }

h7 {
    font-family: "input-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: rgb(193, 193, 193);
    padding-bottom: 25px;
    
  }


.project-link {
font-size: 1em;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
padding-bottom: 10px;
padding-top: 10px;
}

nav {
font-size: 1.5em;
font-family: "input-mono", monospace;
font-weight: 400;
font-style: normal;
float: left;
}