




/*contentlayout*/


/* Grid layout */
.grid-wrapper {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0;
  
}

.grid-item {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.grid-item.tall {
  height: 100vh;
}

.grid-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.grid-item video {
  width: 100vw;
  height: auto;
  display: block;
  object-fit: contain;
  transition: box-shadow, transform 200ms ease;
}

.grid-item.tall img {
  height: 100%;
  width: auto;
  max-width: none;
}

@media (max-width: 960px) {
  .grid-item.tall {
  width: 100vw;
  height: auto;
}
.grid-item.tall img {
  width: 100%;
  height: auto;
}
}

/* Columns */
.col-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 0.5em;
  row-gap: 1em;
  margin: 0 0.25em;
}

.col {
  flex: 1 0;
}

.col img {
  max-width: 100%;
  max-height: 80vh;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

.col p {
  max-width: 30em;
}

/* Typography */
.project-title {
  font-family: "input-mono", monospace;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  margin-top: 2rem;
  margin-bottom: 1rem; /* space before details */
}

/* Meta/details block */
.details {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  font-weight: 200;
  color: #000000;
  font-family: "input-mono", monospace;
  gap: 1em;
  margin-bottom: 1rem;
}

.project-description {
  flex: 1 0;
  max-width: 600px;
  width: 100%;
  padding-right: 3rem;
}

.link {
 
  font-weight: 200;
  color: #000000;
  font-family: "input-mono", monospace;
  display: flex;
}

/* Responsive details layout */
@media (max-width: 640px) {
  .details {
    flex-direction: column;
    padding-top: 0;
  }

  .project-title {
    padding-bottom: 0;
    margin-bottom: 0;
   
  }

  .project-meta,
  .project-description {
    padding-bottom: 0;
    margin-top: 0;
  }
}

/* Utility spacing */
.project p + p,
.project p + div,
.project p + a,
.project a + p,
.project a + div,
.project img + img,
.project div + img,
.notice {
  margin-top: 0.75em;
}
