
.project {
    margin-top: 0.5em;
  }

  
  .project .grid-item {
    width: 100%;
    padding: 0.25em 0.5em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
    cursor: pointer;
    
    
  }
  

  
  

  .project .grid-item img {
    width: 100%;
    height: auto;
    /*object-fit: cover; /* Ensures the image covers the area without distortion */
    transition: transform 0.3s ease; /* Smooth transition for the image scaling */
}


    @media (min-width: 640px)  {
      .project .grid-item {
        width: 50%;
      }
  
      .project .wider {
        width: 100%;
      }
    }
  
    @media (min-width: 960px)  {
      .project .grid-item {
        width: 33.333%;
      }
  
      .project .wider {
        width: 66.666%;
      }
    }
  
    @media (min-width: 1280px) {
      .project .grid-item {
        width: 25%;
      }
  
      .project .wider {
        width: 50%;
      }
    }
    /* @media (min-width: 1600px) {.project .grid-item {width: 20%}} */
    /* @media (min-width: 1920px) {.project .grid-item {width: 16.666%}} */
    /* @media (min-width: 2240px) {.project .grid-item {width: 14.2857%}} */
  
    .grid-item a {
      text-decoration: none;
    }
  
    @media (min-width: 960px)  {
      .project .grid-item {
        margin-bottom: 0.5em;
      }
    }
  
  .project-header {
    padding: 0 0.25em calc(var(--margin) * 3);
  }
  
  .col-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    column-gap: 0.5em;
    row-gap: 1em;
    margin: 0 0.25em;
  }
  
    .col {
      flex: 1 0;
    }
  

    .project-title {
      padding-top: .5em;
      padding-bottom: .5em;
      flex: 2 100%;
      font-family: "input-mono", monospace;
      font-weight: 500;
      font-style: normal;
      font-size: 1.25em;
    }

    .project-description {
      padding-bottom: 2em;
      line-height: 133%;
      flex: 2 100%;
      font-family: "input-mono", monospace;
      font-weight: 200;
      font-style: normal;
      font-size: 1.25em;
    }
  
    .project-description div + div {
      margin-top: 2em;
      
    }
  
    @media (min-width: 960px)  {    
      .project-title {
        flex: 3 0;
      }
  
      .project-description {
        flex: 1 0;
        max-width: 600px;
        width: 100%;
      }
    }

        .grid-item:hover img {
          transform: scale(1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
      
  
      .col img {
        max-width: 100%;
        max-height: 80vh;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
      }
  
      .col p {
        max-width: 30em;
      }
  
    .project p + p,
    .project p + div,
    .project p + a,
    .project a + p,
    .project a + div,
    .project img + img,
    .project div + img,
    .notice {
      margin-top: 0.75em;
    }

  