
  .grid {
    width: 100%;
  }
  
  .grid-item {
    width: 100%;
    padding: 0.125em 0.25em;
    margin-bottom: 1.5em;
    box-sizing: border-box;
  }
  
    @media (min-width: 640px)  {.grid-item {width: 50%}}
    @media (min-width: 960px)  {.grid-item {width: 33.333%}}
    @media (min-width: 1280px) {.grid-item {width: 25%}}
    @media (min-width: 1600px) {.grid-item {width: 20%}}
    @media (min-width: 1920px) {.grid-item {width: 16.666%}}
    @media (min-width: 2240px) {.grid-item {width: 14.2857%}}
  
    .grid-item a {
      text-decoration: none;
    }
  
    .grid-item img {
      width: 100%;
      
      transition: box-shadow, transform 200ms var(--anim);
    }
  
  
      .grid-item:hover {
        z-index: 100;
      }
  
      .grid-item img:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
    
  
    .caption {
      width: 100%;
      font-size: 14px;
      font-family: "input-mono", monospace;
      font-weight: 500;
      font-style: normal;
      color: rgb(162, 162, 162);
    
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

 

    #typingContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
  }

  #typingTextTop {
    position: absolute;
    top: 47%;
    opacity: 0.6;
}

#typingTextMiddle {
    position: absolute;
    top: 50%;
}

#typingTextBottom {
    position: absolute;
    top: 53%;
    opacity: 0.3;
}

.main {
    visibility: hidden;
    opacity: 0;
}

.main-visible {
    visibility: visible;
    opacity: 1;
    transition: none; 
}

.intro {
  font-size: 1em;
  font-family: "input-mono", monospace;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  text-align: left;
  opacity: 1;
}

.view {
  color: grey;
font-size: .8em;
font-weight: 200;
font-family: input mono, monospace;

}

/*list*/

.project-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5vw;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.project-list {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.project-row {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
margin-left: 0;
  text-decoration: none;
  color: inherit;
  transition: background 0.2s ease;
  
}

.project-title {
  font-size: 3.5em;
  font-family: "stevie-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: greenyellow;
   line-height: 60px;
    padding-bottom: 10px;
}

.project-meta {
  font-size: .8em;
  font-weight: 200;
  color: #000000;
  font-family: input mono, monospace;
  display: flex;
  gap: 3rem;
  padding-right: 3rem;
}

.project-row:hover {
  background-color: #ffffff;
}

.project-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}



.project-preview {
  position: sticky;
  top: 0; /* keeps it visible while scrolling */
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview-img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}

.mobile-preview {
  display: none;
  width: 100%;
  margin-bottom: 1rem;
  object-fit: contain;
}

@media (max-width: 959px) {
  .project-list {
    width: 100%;
  }



  .project-row {
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .project-preview {
    display: none;
  }

  .mobile-preview {
    display: block;
  }
}
